body {
    background-color: #EAF5FB;
}

.row-bottom-align {
    font-size: 0;
}
.row-bottom-align > * {
    float: none;
    display: inline-block;
    font-size: 46px;
}
.row-bottom-align > *:last-child {
    vertical-align: bottom;
}

.no-padding {
	padding-bottom: 0px;
}

#footer {
  height: 60px;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}